.comment_box{
    padding: 4px 12px ;
    border: none;
    border: 1px solid rgb(255, 246, 246);
    outline: none;
    outline: 1px solid gray;
    border-radius: 33px;
    display: inline-block;
    margin-top: 10px;
}
.comment_submit_btn{
    padding: 4px 10px;
    background-color: rgb(207, 199, 199);
    color: rgb(0, 0, 0);
    margin-left: 6px;
    border-radius:5px ;
}
